{{!-- featured item --}}
{{!-- have to make header --}}
<section class="card">
  <a href="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </a>
  {{!-- main menu --}}
  <section class="card">
  <a href="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </a>
  <section class="card">
  <a href="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </a>
  <section class="card">
  <a href="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </a>
  <section class="card">
  <a href="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
      {{!-- add favorites heart or line --}}
      {{!-- figure out how to do the hover thingy  --}}
    </div>
  </a>
