<div>
  {{#each recipe }}
  <section class="card">
    <div class="favId" style="display: none;" onclick="favoriteHandler('{{{id}}}')">{{id}}</div>
    <a href="/menu/{{id}}">{{name}}</a>
    <div class="card-body">
      <img width="275" height="300" src="/images/{{file_name}}">
      <p>Ingredients: {{ingredients}}</p>
      <p>Directions: {{directions}}</p>
    </div>
  </section>
  {{/each}}
</div>
