{{!-- featured item --}}
<section class="card">
   <div class="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </div>

  {{!-- main menu --}}
  {{!-- 10 recipes here --}}
  {{!-- call for it to do a get --}}
  <div>
  {{#each recipe}}
  <section class="card">
  <div href="/menu/{{id}}">
    <header>{{menu.name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients: {{menu.ingredients}}</p>
      <p>Directions: {{menu.directions}}</p>
    </div> 
  {{/each}}
  </div>
</div>
      {{!-- add favorites heart or line --}}
      {{!-- figure out how to do the hover thingy  --}
