
<section class="card">
   <div class="/menu/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </div>


  <div>
  {{#each recipe}}
  <section class="card">
  <div href="/menu/{{id}}">
    <header>{{menu.name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients: {{menu.ingredients}}</p>
      <p>Directions: {{menu.directions}}</p>
    </div> 
  {{/each}}
  </div>
</div>

