
{{!-- <section class="card">
   <h2>{{id}}</h2>
    <header>{{name}}</header>
    <div class="card-body">
      <img src="/images/{{filename_name}}" alt="{{image_description}}">
      <p>Ingredients {{ingredients}}</p>
      <p>Directions {{directions}}</p>
    </div>
  </div>
</section> --}}


  <div>
  {{#each recipe }}
  <section class="card">
  {{!-- <div href="/menu/{{recipe}}"> --}}
    <header>{{name}}</header>
    <div class="card-body">
      {{!-- <img src="/images/{{recipe.filename_name}}" alt="{{image_description}}"> --}}
      <p>Ingredients: {{ingredients}}</p>
      <p>Directions: {{directions}}</p>
    </div> 
  {{/each}}
  </div>
</div>

